.doccollection{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;

}
.doccollection>div:hover{
background-color: aqua;

}
.lastsection{
    display: flex;
    flex-direction: row;
   
   
}
  .lastimg{
    width: 40px;
    height: 30px;
  }

  #endfirst{

    display: flex;
    flex-direction: column;

    
  }
  #endfirst>div>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around ;


  }
  .end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    background-color:black ;
    color: white;

  }
  #endsecond{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  
  #endsecond>div>ul>li{
   padding-top: 10px;
  color: white;
  }
  #endthird>div>ul>li{
    padding-top: 10px;
   color: white;
   }
   #endend{
  padding: 20px;
  padding-left: 100px;
  background-color: black;
  color: antiquewhite;

   }



