#navthirddiv:hover{
    background-color: aliceblue;
    color: black;
}
#navthirddiv>div>a>p{
   
    color: rgb(0, 0, 0);
}
#navthirddiv>div>a>p:hover{
    background-color: aliceblue;
   color: black;
}

.atagthirdsection:hover{
    background-color: aliceblue;
    color: black;
    
}
.atagthirdsection{
  color: white;
    
}
.lernhover{
    color: black;
}
.lernhover:hover{ background-color: rgb(15, 130, 231);
    color: black;

}

.card{
   padding-left:150px ;
    padding-right:200px ;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;

}
.cardhover{
    
    background-color: rgb(72, 0, 139);
    color: black;

}
.cardhover:hover{
    background-color: white;
    color: black;
}