.threeimg{
    width: 64px;
    height: 64px;
}

#thirdsectiontopdiv{
    display:flex;
    flex-direction: row;
    
}
.thirdsection{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.thirdsection> h3{
    font-size: 60px;
}
.atagthirdsection{
   border: solid 2px;
   border-color: aliceblue;
   
   padding: 15px;
}

#thirdsectionemergency{
    background-color: aqua;
}