.sectionsixthseconddiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:40px ;
    padding-bottom:40px ;
}
#sectionsixseconddivfirst{
    display: flex;
    flex-direction: column;

}
#sectionsixseconddivfirst >div >img{
    width: 70px;
    height: 70px;
}

.sectionsixthfirstdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:0px ;

}
.sectionsiximage{
width: 600px;
height: 300px;

}
#sectionsixseconddivfirst>div>h5{
    font-size: xx-large;

}